name: Build and Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  skip:
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.filter.outputs.should_skip }}
    steps:
      - uses: actions/checkout@v4
        with:
          filter: blob:none
          fetch-depth: 0
      - uses: leavesster/pull-request-path-filter@v0.2
        id: "filter"
        with:
          paths: |
            - '**'
            - '!**.md'
            - '!.vscode/*'
            - '!.github/**'
            - '.github/workflows/build-and-test.yml'

  build:
    runs-on: ubuntu-24.04
    needs: [skip]
    # squash commit 都会在末尾添加 #，通过这种方式过滤掉 squash commit 的 push 来减少重复构建。
    if: ${{ needs.skip.outputs.should_skip != 'true' && !contains(github.event.head_commit.message, '#')}}
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          rustflags: ""
      - name: Start MQTT Broker
        run: |
          sudo apt update && sudo apt install -y --no-install-recommends mosquitto
          mosquitto -d -p 47688
      - name: Test
        timeout-minutes: 10
        run: cargo test --workspace --exclude layer
      - uses: ./.github/actions/oocana-node
        with:
          token: ${{ secrets.ACCESS_REPO }}
      # - name: Setup tmate session # only enable when debugging
      #   uses: mxschmitt/action-tmate@v3
      #   timeout-minutes: 10
      #   if: failure()
