name: Release oocana CLI
on:
  push:
    tags:
      - "**"
  workflow_dispatch:

jobs:
  release-ubuntu:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [
          aarch64-unknown-linux-gnu,
          x86_64-unknown-linux-gnu,
          x86_64-unknown-linux-musl,
          aarch64-unknown-linux-musl,
        ]
    steps:
      - uses: actions/checkout@v4
      - name: Install toolchain
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
      - name: install cross
        run: cargo install cross
      - name: build
        run: cross build --release --target ${{ matrix.target }}
      - name: name cli tool
        run: |
          mv target/${{ matrix.target }}/release/oocana oocana-cli-${{ matrix.target }}
          tar -czf oocana-cli-${{ matrix.target }}.tar.gz oocana-cli-${{ matrix.target }}
      - uses: actions/upload-artifact@v4
        with:
          name: oocana-cli-${{ matrix.target }}
          path: oocana-cli-${{ matrix.target }}
          retention-days: 1
      - name: Release
        uses: softprops/action-gh-release@v2
        if: ${{ (github.event_name == 'push' && github.ref_type == 'tag') || github.event_name == 'workflow_dispatch' }}
        with:
          files: |
            oocana-cli-${{ matrix.target }}.tar.gz
          token: ${{ secrets.GITHUB_TOKEN }}
          append_body: true
          draft: false
          prerelease: false
          make_latest: true

  release-macos:
    runs-on: [macos-latest]
    steps:
      - uses: actions/checkout@v4
      - name: Install toolchain
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
          targets: aarch64-apple-darwin,x86_64-apple-darwin
      - name: build
        run: |
          cargo build --release --target aarch64-apple-darwin
          cargo build --release --target x86_64-apple-darwin
      - name: name cli tool
        run: |
          mv target/x86_64-apple-darwin/release/oocana oocana-cli-x86_64-apple-darwin
          mv target/aarch64-apple-darwin/release/oocana oocana-cli-aarch64-apple-darwin
          tar -czf oocana-cli-x86_64-apple-darwin.tar.gz oocana-cli-x86_64-apple-darwin
          tar -czf oocana-cli-aarch64-apple-darwin.tar.gz oocana-cli-aarch64-apple-darwin
      - uses: actions/upload-artifact@v4
        with:
          name: oocana-cli-macos
          path: |
            oocana-cli-x86_64-apple-darwin
            oocana-cli-aarch64-apple-darwin
          retention-days: 1
      - name: Release
        uses: softprops/action-gh-release@v2
        if: ${{ (github.event_name == 'push' && github.ref_type == 'tag') || github.event_name == 'workflow_dispatch' }}
        with:
          files: |
            oocana-cli-x86_64-apple-darwin.tar.gz
            oocana-cli-aarch64-apple-darwin.tar.gz
          token: ${{ secrets.GITHUB_TOKEN }}
          append_body: true
          draft: false
          prerelease: false
          make_latest: true

  publish-npm:
    runs-on: ubuntu-latest
    needs: [release-ubuntu, release-macos]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          pattern: oocana-cli-*
          path: oocana-cli
          merge-multiple: true
      - name: prepare cli
        run: |
          mkdir -p ../target

          ls

          for file in *; do
              if [[ -f "$file" && "$file" != "target" ]]; then
                target_name=${file#oocana-cli-}

                # Create the destination directory structure
                mkdir -p "../target/$target_name/release"

                # Move the file to its destination
                chmod +x "$file"
                mv "$file" "../target/$target_name/release/oocana"

                echo "Moved $file to ../target/$target_name/release/oocana"
              fi
          done
        working-directory: oocana-cli
      - name: prepare npm
        run: node npm/npm.mjs
      - name: setup github npm registry
        uses: actions/setup-node@v4
        with:
          registry-url: "https://npm.pkg.github.com"
      - name: publish npm to github
        run: node npm/publish.mjs
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: setup npm registry
        uses: actions/setup-node@v4
        if: ${{ github.repository_owner == 'oomol' }}
        with:
          registry-url: "https://registry.npmjs.org"
          scope: "@oomol"
      - name: publish npm to npm
        run: node npm/publish.mjs npm
        if: ${{ github.repository_owner == 'oomol' }}
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_PUBLISH_TOKEN}} # expire at 2026-03-13

  trigger:
    runs-on: ubuntu-latest
    needs: [publish-npm]
    if: ${{ github.repository_owner == 'oomol' }}
    steps:
      - run: |
          curl -X POST -H "Content-Type: application/json" https://github-package-event-worker.cloud-c35.workers.dev/renovate --data '{"repos": [{"owner": "oomol", "repo": "oocana-node", "workflow_id": "renovate.yml"}]}'
